Telagram GeneratorpPost FaceBook in Watermark + post ลิงค์ สินค้า
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=ข่าวต้นทาง:\n{{ $json.message.caption || $json.message.text }}\n\nPrompt (ใช้เป็น System / Role):\nคุณคือตัวช่วยสรุปข่าวสำหรับโพสต์บน Social Media\nหน้าที่ของคุณคือสรุปข่าวให้กระชับ ชัดเจน เป็นทางการ และเข้าใจง่าย โดยไม่มีความเห็นส่วนตัวหรือการวิเคราะห์เชิงคาดการณ์\nเมื่อได้รับเนื้อข่าว ให้คุณทำดังนี้:\n\n1. สรุป หัวข้อข่าว (headline) ให้สั้น ชัด ตรงประเด็น\n2. สรุปประเด็นสำคัญแบบหัวข้อย่อย (bullets) จำนวน 3 ข้อ โดยแต่ละข้อควรครอบคลุม:\n\nข่าวเกี่ยวกับอะไร / ประเด็นหลักคืออะไร\nใคร ทำอะไร ที่ไหน เมื่อไหร่ (ถ้ามีระบุในข่าว)\nผลกระทบหรือความหมายสำคัญของเหตุการณ์ต่อบุคคล กลุ่ม หรือภาพรวม (เช่น ต่อประชาชน ธุรกิจ รัฐบาล ฯลฯ)\n\n\n3. ใช้ ภาษาทางการ กระชับ ไม่เยิ่นเย้อ\n4. ห้ามใส่:\n\nความเห็นส่วนตัว\nการคาดเดา หรือการวิเคราะห์เกินกว่าที่ปรากฏในข่าว\nคำโปรยเชิงขายของ / clickbait\n\n\n5. หากข้อมูลบางส่วนไม่ปรากฏในข่าว ให้สรุปเฉพาะเท่าที่มีข้อมูลจริง โดยไม่แต่งเติมหรือเดาเหตุผลเพิ่มเติม\n\nรูปแบบคำตอบ:\nตอบกลับเป็น JSON เท่านั้น โดยไม่มีข้อความอื่นปน (ห้ามมีคำอธิบายเพิ่มเติมหรือ markdown ใด ๆ)\nในรูปแบบต่อไปนี้:\njsonDownloadCopy code{\n  \"headline\": \"\",\n  \"bullets\": [\n    \"\",\n    \"\",\n    \"\"\n  ]\n}\nheadline และแต่ละ bullets ต้องเขียนเป็นประโยคภาษาไทยแบบเป็นทางการ กระชับ และอ่านรู้เรื่องในบริบทของโซเชียลมีเดีย\n\nถ้าต้องการ ผมสามารถช่วยทำตัวอย่าง “อินพุตข่าว → เอาต์พุต JSON” ให้ดูเพื่อใช้เป็น reference เพิ่มเติมได้ด้วยครับ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -384,
        -720
      ],
      "id": "4394870c-4ddf-401a-be21-b59826ca2eb4",
      "name": "AI Agent",
      "notes": "ดึงรูปจาก URL นี้มาทำโลโก้ด้วย "
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        -624
      ],
      "id": "3374c05d-465e-4a6a-b74d-49730344c8be",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zyqGKH3nZnB7L4Ff",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://github.com/singhakom/n8n-assets/blob/main/buyback-1-removebg-preview.png?raw=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "watermark"
            }
          }
        }
      },
      "id": "8f2962ba-bb37-42e8-af93-6f225ffefd3c",
      "name": "Get Watermark Logo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -416,
        -384
      ],
      "notes": "เปลี่ยน URL โลโก้ของคุณตรงนี้"
    },
    {
      "parameters": {
        "jsCode": "// 1. ดึงข้อความดิบ (รองรับทั้ง Gemini, OpenAI, AI Agent)\nlet rawContent;\n\nif ($json.output) {\n  // รูปแบบมาตรฐานของ n8n AI Agent / Gemini Node\n  rawContent = $json.output;\n} else if ($json.text) {\n  // รูปแบบข้อความทั่วไป\n  rawContent = $json.text;\n} else if ($json.choices?.[0]?.message?.content) {\n  // รูปแบบ OpenAI เดิม\n  rawContent = $json.choices[0].message.content;\n} else {\n  // หาไม่เจอ ให้ลองส่ง json ทั้งก้อนไปดู (กัน Error)\n  throw new Error(\"หาข้อความตอบกลับจาก AI ไม่เจอ กรุณาเช็ค Output ของ Node ก่อนหน้า\");\n}\n\n// 2. ล้างเปลือก Markdown (สำคัญมากสำหรับ Gemini!) 🧹\n// ลบ ```json และ ``` ออก เพื่อให้เหลือแต่เนื้อ JSON เพียวๆ\nconst cleanJsonString = rawContent.replace(/```json|```/g, '').trim();\n\n// 3. แปลง String เป็น JSON Object\nlet ai;\ntry {\n  ai = JSON.parse(cleanJsonString);\n} catch (e) {\n  throw new Error(\"AI ไม่ได้ส่ง JSON มา หรือส่งมาผิดรูปแบบ: \" + rawContent);\n}\n\n// 4. สร้าง Caption (รองรับทั้งแบบ 'bullets' และ 'content')\nconst headline = ai.headline || \"ข่าววันนี้\";\nlet bodyContent = \"\";\n\n// กรณีที่ 1: ถ้า AI ส่งมาเป็น Array (bullets) ตามโค้ดเดิมของคุณ\nif (Array.isArray(ai.bullets)) {\n  bodyContent = ai.bullets.map(b => `• ${b}`).join('\\n');\n} \n// กรณีที่ 2: ถ้า AI ส่งมาเป็นข้อความยาวๆ (content) ตาม Prompt ข่าวล่าสุด\nelse if (typeof ai.content === 'string') {\n  bodyContent = ai.content;\n} \n// กรณีที่ 3: กันเหนียวถ้าไม่มีอะไรเลย\nelse {\n  bodyContent = JSON.stringify(ai); // แปะมันดื้อๆ เลย\n}\n\n// 5. จัดรูปแบบสุดท้ายเพื่อลง Facebook\nconst finalCaption = `📰 ${headline}\n\n${bodyContent}\n\n#NewsUpdate #BusinessNews #MoneyMinute`;\n\nreturn [\n  {\n    json: {\n      fb_caption: finalCaption,\n      // แถมตัวแปรแยกเผื่อเอาไปใช้ต่อ\n      headline: headline,\n      content: bodyContent\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -720
      ],
      "id": "d98e8209-6bfd-4789-8e86-2674a5a0bd44",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "composite",
        "dataPropertyNameComposite": "watermark",
        "operator": "Atop",
        "positionX": 10,
        "positionY": 10,
        "options": {
          "fileName": "data"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        160,
        -384
      ],
      "id": "f02905b9-6ce0-4c1e-aa9e-770578fe0fc5",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger1').item.json.message.photo[2].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        -512
      ],
      "id": "3d176503-3aac-401c-86c6-9259041c0ffa",
      "name": "Get a file",
      "webhookId": "5120f18d-8a08-42e0-8048-2d99b6575125",
      "credentials": {
        "telegramApi": {
          "id": "nciNwXxIvnbXF3pR",
          "name": "sermchart"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 528,
        "width": 1488
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -768
      ],
      "typeVersion": 1,
      "id": "24aac2d1-c6fb-4787-8107-c0a9ec6e81fe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "ba52e0f1-5f34-438b-95b4-c1d2c059ac42",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        -384
      ],
      "webhookId": "telegram-news-bot",
      "credentials": {
        "telegramApi": {
          "id": "nciNwXxIvnbXF3pR",
          "name": "sermchart"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "725647510641457",
        "edge": "photos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "=message",
                "value": "={{ $json.headline }}\n\n\n{{ $json.fb_caption }}"
              }
            ]
          }
        }
      },
      "id": "4e2eef11-ab43-4b71-a510-a2cc2f44861c",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        576,
        -400
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "OPPB5icuMiD0qfXm",
          "name": "page moneyminute"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "dataPropertyName": "watermark",
        "width": 50,
        "height": 50,
        "resizeOption": "ignoreAspectRatio",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -240,
        -384
      ],
      "id": "2cdc92fb-b432-4df8-bc54-16c074af0224",
      "name": "Resize"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        400,
        -400
      ],
      "id": "2f2ebb12-832b-44d4-a081-ea3e42e813fc",
      "name": "รวมพร้อมโพส"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -32,
        -576
      ],
      "id": "784ad287-2b1c-40d7-a97a-80d668c6a3a7",
      "name": "Merge โลโก้"
    },
    {
      "parameters": {
        "jsCode": "// Node 3 - DEBUG VERSION (แสดงทุกปัญหา)\nconsole.log('🔍 Rows input:', $input.all().length);\n\nconst products = $input.all().map((item, i) => {\n  const p = item.json;\n  console.log(`Row ${i}: title=\"${p.title?.slice(0,30)}\" cat1=\"${p.global_category1}\"`);\n  \n  return {\n    json: {\n      row: i + 1,\n      title: String(p.title || p.Title || '').slice(0, 50),\n      cat1: String(p.global_category1 || p.Category1 || ''),\n      cat2: String(p.global_category2 || p.Category2 || ''),\n      link: String(p.product_link || p['product_short link'] || ''),\n      pref: String(p.is_preferred_shop || '').includes('Preferred'),\n      score: 1  // ให้ทุกชิ้น score 1\n    }\n  };\n}).filter(p => p.json.title.length > 3);  // title > 3 ตัวอักษร\n\nconsole.log(`✅ Products after filter: ${products.length}`);\nconsole.log('Sample:', JSON.stringify(products[0]?.json, null, 2));\n\nreturn [{\n  json: {\n    total: products.length,\n    summary: `all(${products.length})`,\n    top: products.slice(0, 10),\n    all: products\n  }\n}];\n"
      },
      "id": "6d394ba2-11f6-43a8-84cc-0f8d7e97a19e",
      "name": "3. จับคู่สินค้า (Code)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        16
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $json.fb_post_id }}",
        "edge": "=comments",
        "allowUnauthorizedCerts": "=",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.product_name }}\n{{ $json.product_link }}"
              }
            ]
          }
        }
      },
      "id": "4ec0956e-ccb2-4642-828b-832813ef8b91",
      "name": "Comment to Facebook1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        272,
        16
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "OPPB5icuMiD0qfXm",
          "name": "page moneyminute"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Zl6l46NJi1RBwMKvegoTR09zDMRHNagJvdq4N18R_tw",
          "mode": "list",
          "cachedResultName": "shoppee full",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl6l46NJi1RBwMKvegoTR09zDMRHNagJvdq4N18R_tw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Zl6l46NJi1RBwMKvegoTR09zDMRHNagJvdq4N18R_tw/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "fb7eefc2-b922-4d78-b2a7-ac9e8383b7b2",
      "name": "โหลดคลังสินค้า1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -688,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BFzqtZ4Jdc301hqN",
          "name": "sheet api"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=📰 **ข่าว:** {{ $('Code in JavaScript').first().json.headline }}\n\n📦 **คลังสินค้า ({{ $('3. จับคู่สินค้า (Code)1').first().json.total }} ชิ้น):**\nWomen Shoes, Women Bags, Watches, Travel & Luggage, Stationery, Sports & Outdoors, Pets, Motorcycles, Mom & Baby, Mobile & Gadgets, Men Shoes, Men Bags, Home & Living, Home Appliances, Hobbies & Collections, Health, Food & Beverages, Fashion Accessories, Computers & Accessories, Books & Magazines, Beauty, Baby & Kids Fashion, Automobiles, Audio\n\n🎯 **เลือก 1 หมวดที่ match ข่าวมากที่สุด:**\n\n**💰 เงินเฟ้อ/เศรษฐกิจ** → Mobile & Gadgets, Home Appliances (สินค้าจำเป็น)\n**⚔️ สงคราม/วิกฤต** → Home & Living, Food & Beverages (備急)\n**🤖 Tech/AI** → Mobile & Gadgets, Computers & Accessories\n**💊 สุขภาพ** → Health, Beauty\n**👶 เด็ก** → Mom & Baby, Baby & Kids Fashion\n**✈️ ท่องเที่ยว** → Travel & Luggage\n**🏃 กีฬา** → Sports & Outdoors\n\nตัวอย่างสินค้า:\n{{ $('3. จับคู่สินค้า (Code)1').first().json.top.map(p => `• ${p.json.title} [${p.json.cat1}]`).join('\\n') }}\n\n**JSON เท่านั้น:**\n{\"group\": \"Mobile & Gadgets\", \"confidence\": \"high\"}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        16
      ],
      "id": "b3868a60-60fb-4544-8166-e97637584734",
      "name": "AI เลือกสินค้า1",
      "credentials": {
        "googlePalmApi": {
          "id": "zyqGKH3nZnB7L4Ff",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var inputData = $input.first();\nvar aiRaw = \"\";\nif (inputData && inputData.json && inputData.json.content && inputData.json.content.parts && inputData.json.content.parts[0] && inputData.json.content.parts[0].text) {\n  aiRaw = inputData.json.content.parts[0].text;\n}\n\nvar clean = aiRaw;\nif (clean.indexOf(\"{\") > 0) {\n  clean = clean.substring(clean.indexOf(\"{\"));\n}\nif (clean.lastIndexOf(\"}\") > 0) {\n  clean = clean.substring(0, clean.lastIndexOf(\"}\") + 1);\n}\n\nvar aiResp = { group: \"default\" };\ntry {\n  aiResp = JSON.parse(clean);\n} catch(e) {\n}\n\nvar group = aiResp.group || \"default\";\nvar node3 = $(\"3. จับคู่สินค้า (Code)1\").first();\nvar products = [];\nif (node3 && node3.json && node3.json.top) {\n  products = node3.json.top;\n}\n\n// 🔥 สุ่มมั่วทุกโพสต์!\nvar match = products.length > 0 ? products[Math.floor(Math.random() * products.length)] : { title: \"สินค้าเด่นวันนี้\", link: \"https://shopee.co.th/moneyminute\" };\n\nvar fbId = \"just_posted\";\ntry {\n  fbId = $(\"Post to Facebook\").first().json.id || \"just_posted\";\n} catch(e) {\n}\n\nreturn [{\n  json: {\n    fb_post_id: fbId,\n    product_name: match.json ? match.json.title : match.title,\n    product_link: match.json ? match.json.link : match.link,\n    ai_group: group,\n    random_index: products.length > 0 ? Math.floor(Math.random() * products.length) : 0,\n    total_products: products.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        16
      ],
      "id": "d4fc66ec-8f72-4aaf-93f3-4383117724e8",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IeXuO1J4Ko0atUTTxkRX2G3_8ZN_v6JkVqqKma0YCQo",
          "mode": "list",
          "cachedResultName": "โหลดคลังสินค้า",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IeXuO1J4Ko0atUTTxkRX2G3_8ZN_v6JkVqqKma0YCQo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 288756215,
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IeXuO1J4Ko0atUTTxkRX2G3_8ZN_v6JkVqqKma0YCQo/edit#gid=288756215"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Product": "={{ $('Code in JavaScript2').first().json.product_name || 'ไม่มีสินค้า' }}",
            "Link": "={{ $('Code in JavaScript2').first().json.product_link || '#' }}",
            "PostID": "={{ $('Code in JavaScript2').first().json.fb_post_id || 'just_posted' }}",
            "Date": "={{ $now.setZone('Asia/Bangkok').toFormat('dd/MM/yyyy HH:mm:ss') }}",
            "Headline": "={{ $('Code in JavaScript').first().json.headline || 'N/A' }}",
            "AIGroup": "={{ $('Code in JavaScript2').first().json.ai_group || 'default' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PostID",
              "displayName": "PostID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AIGroup",
              "displayName": "AIGroup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        16
      ],
      "id": "1e82f640-35b9-4e46-96e1-ddaab846afbf",
      "name": "บันทึกการโพส1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BFzqtZ4Jdc301hqN",
          "name": "sheet api"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 1488
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -224
      ],
      "typeVersion": 1,
      "id": "8d12ee67-b553-41de-ba95-ad9612bd12eb",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Watermark Logo": {
      "main": [
        [
          {
            "node": "Resize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "รวมพร้อมโพส",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "รวมพร้อมโพส",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge โลโก้",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Get Watermark Logo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "โหลดคลังสินค้า1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize": {
      "main": [
        [
          {
            "node": "Merge โลโก้",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "รวมพร้อมโพส": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge โลโก้": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. จับคู่สินค้า (Code)1": {
      "main": [
        [
          {
            "node": "AI เลือกสินค้า1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment to Facebook1": {
      "main": [
        [
          {
            "node": "บันทึกการโพส1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "โหลดคลังสินค้า1": {
      "main": [
        [
          {
            "node": "3. จับคู่สินค้า (Code)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI เลือกสินค้า1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Comment to Facebook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ad56853696598a6eff8f657de8b13d4264e6300fc1bab5a313186809fef1503"
  }
}
